name: Spring Boot CI/CD

on:
  push:
    branches:
      - main
    paths:
      - src/**
      - pom.xml
      - Dockerfile
      - app.yml

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'

      - run: mvn -B clean verify

      - uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: target/surefire-reports

  docker-build-push:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'

      - run: mvn -B clean package -DskipTests

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cicd:latest